body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
